@charset "utf-8";

body {
  background-color: #91ffbd;
}

#container {
  margin: 20vh auto;
  color: darkblack;
  text-align: center;
}

.control-panel {
  float: right;
  width: 30%;
  margin: 0 20% 0 0;
}

.pad-bank {
  float: left;
  position: relative;
  left: 25%;
  margin: auto;
  width: 240px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
}

.pad-bank-title {
  color: black;
  font-size: 1.6em;
  grid-column: span 3;
}

.control-panel-title {
  display: block;
  color: black;
  font-size: 1.6em;
  margin-bottom: 20px;
}

.logo {
  font-size: 3em;
}

.select {
  width: 60px;
  height: 15px;
  background-color: black;
  margin: 0px auto 20px;
}

.sliderVolume {
  line-height: 2.5em;
}

.inner {
  width: 50%;
  height: 15px;
  background-color: white;
}

.drum-pad-key {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8em 0 0 -0.4em;
}

input {
  width: 70%;
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 2em;
  }

  .control-panel {
    margin: 0 10%;
    width: 79%;
  }

  .pad-bank {
    float: none;
    position: static;
    margin: auto;
    width: 300px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
  }
}
.footer {
  color: #c4ffdb;
  width: 100%;
  background-color: #464646;
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
  padding: 1em 0 1em 0;
}
